
<html>
<head>
<title>domedula.com.br</title>

<link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" /> 
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false&language=ar"></script> 



</head>
<body>

[% IF campanha %]
<meta property='og:title' content="[% campanha.nome %] -
Ofertanocelular.com.br">
<meta property='og:site_name' content='doejunto.com.br' />
<meta property='og:image'content="[% campanha.image %]"/>
<meta property='og:type' content='website' />
<meta property='og:url' content="[% campanha.url %]"/>
<meta property='og:description' content=" [% campanha.nome %]" />
[% END %]

| 
<a href="/">/</a>
-
<a href="/hemocentros">hemocentros</a>
-
<a href="/campanhas">campanhas</a>
|

[% content %]

</body>
</html>
