
<html>
<head>
<title>domedula.com.br</title>

<link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" /> 
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false&language=ar"></script> 



</head>
<body>

| 
<a href="/">/</a>
-
<a href="/hemocentros">hemocentros</a>
-
<a href="/campanhas">campanhas</a>
|

[% content %]

</body>
</html>
