


<h1>Hemocentros</h1>

Há [% hemocentros.count %] cadastrados.


[% FOREACH item IN hemocentros.all %]
	<hr size="1">

	Nome: [% item.nome %] <br/>
	Latitude: [% item.lat %] <br/>
	Longitude: [% item.lon %] <br/>

	<iframe src="http://maps.google.com/maps/api/staticmap?center=[% item.lat %],[% item.lon %]&maptype=ro&zoom=14&size=512x512&sensor=false&markers=color:green|label:G|[% item.lat %],[% item.lon %]" width="512" height="512"></iframe>

	<hr size="1">


[% END %]

